* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Segoe UI', sans-serif;
    background: #f3f2ef00;
} */
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #eae5d7, #e6e9f0);
}


.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background: rgb(238, 200, 75);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.auth-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1f2937;
    font-weight: 600;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.password-box {
    position: relative;
}

.password-box span {
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}
/* .forgot{
    text-align: right;
    margin-bottom: 10px;
}
.forgot a {
    color: #010a1c;
    text-decoration: none;
    font-size: 10px;
} */
.forgot{
    text-align: right;
    margin-bottom: 10px;
}

.forgot a{
    font-size:10px !important;
    color: #000000 !important;
    text-decoration: none;
    font-weight: 400;
}
.forgot a:hover {
    opacity: 1;
}

.btn-primary {
    background: #2563eb;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    background: #1e40af;
}


.switch {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.switch a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}